.center-box{
    background-color: blue;
    width: 800px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-item{
    background-color: moccasin;
    width: 100px;
    height: 100px;
}